* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #2b2b4a;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 16px;
  flex: 1;
  background-color: #8ecae6;
}

#my-name {
  cursor: pointer;
  text-align: center;
  font-size: 70px;
  background-image: url("background-pattern-design-79.jpeg");
  /* background-color: #1d3557; */
  color: gold;
  padding: 2rem;
  padding-top: 3rem;
  margin: 0;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.nav_links {
  text-align: center;
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 70px;
  margin-bottom: 4rem;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
  color: whitesmoke;
  padding: 9px 25px;
  font-size: 27px;
  font-weight: bold;
  background-color: #1d3557;
  border-style: solid;
  border-radius: 5px;
  border-color: gold;
}

.nav_links li a:hover {
  color: gold;
}

button {
  padding: 9px 25px;
  color: white;
  background-color: #19470f;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: gold;
  color: black;
}

main {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

main section {
  margin: 2rem;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fefff2;
}

main h1 {
  font-size: 25px;
  border-style: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 10px;
  color: white;
  background-color: #23238e;
  display: inline-block;
}

ul {
  list-style-type: none;
}

#name,
#email,
#submit {
  margin: 1rem;
}

#name,
#email,
#message {
  border: none;
  appearance: none;
  background: #c1c1c1;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  outline: none;
}

#submit {
  margin-left: 0;
}

#message-list {
  padding: 2rem;
}

#footer {
  text-align: center;
  padding: 1rem;
  background-color: gold;
}

#label {
  font-weight: bold;
}


@media (min-width: 600px) {
  * {
    font-size: 1.16rem;
  }
}

